application/application
application/.cache

application/Backend/__pycache__
application/Backend/Controllers/__pycache__
application/Backend/Model/__pycache__
application/Backend/Services/__pycache__
application/Backend/Exceptions/__pycache__

application/Frontend/__pycache__
application/Frontend/Ressources/__pycache__
application/Frontend/Services/__pycache__
application/Frontend/Exceptions/__pycache__
application/Frontend/views/__pycache__

application/database.db